@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.App {
  text-align: center;
}
.title {
  color:rgba(151,215,0,1);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: rgb(37, 37, 37);
  font-family: 'Montserrat', sans-serif !important;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  background-color: rgba(151,215,0,1) !important;
}
.react-datepicker__navigation--next {
  border-left-color: rgb(37, 37, 37) !important;
}
.react-datepicker__navigation--previous {
  border-right-color: rgb(37, 37, 37) !important;
}
.react-datepicker {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: 'Montserrat', sans-serif !important;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  background-color: rgba(151,215,0,1) !important;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  background-color: rgba(151,215,0,1) !important;
}
.react-datepicker__input-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.react-datepicker-wrapper {
  width: 20% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
}
tspan {
  color: white;
}
.example-custom-input {
  cursor: pointer;
  padding: 5px 15px;
  border: 0;
  border-radius: 4px;
  background-color: rgba(151,215,0,1);
  color: rgb(37, 37, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 10px;
}
.average {
  color:rgba(151,215,0,1);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-top: 0px;
}
.area-chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recharts-text {
  color: white !important;
  fill: white !important;
}